
html {height: 100vh;}
body {
    min-height: 100vh;
    color: $text;
    font-family: $family-primary;
}

p {

    font-size: 1.5rem;
    margin: 2% 0;
}




h1{
    font-family: $family-title;
}


.footer {
    background: #fff !important;
    //margin-top: 1000px;
    p {
        font-size: 1rem;
    }
    .footer-container {
        margin: 0 2%; 
        a.social-icon {
            font-size: 2rem;
            color: $text;
            padding: 0% 2%
        }
    }
}

.navbar-item figure {
    padding-top: 20px;
}


h1.is-main-title{
    font-size:7vw;
}

.project-footer {
    li {
        list-style: none;
        a {
            color: $text;
            font-size: 1.5rem;
            &.active {
                color:#ccc;
            }
        }
    }
}



.project-details {
    padding: 100px 35px;
    .company-logo {
        width: 60%;
        margin: 0 auto 100px auto;
    
    }

    .download-btn {
        margin-top: 35px;
        background-color: $brand;
        color: #fff;
        font-size: 1.5rem;
        border: none;
    
        &:hover {
            color: #fff;
            border: none;
        }
    
        .icon {
            padding-left: 15px;
        }
    }
    
    &.think-telic {
        background-color: #F7F7F7;
    }

    &.h2 {
        background-color: #00335D;
        color: #fff;
    }

}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .footer {
        //margin-top: 200%;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h1.is-main-title{
        font-size:3.5vw;
    }
    .footer {
        margin-top: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
   
}