
html {height: 100vh;}
body {
    min-height: 100vh;
    color: $text;
    font-family: $family-primary;
}

h1{
    font-family: $family-title;
}

h1.is-main-title{
    font-size:3.5vw;
}

.footer {
    background: #fff !important;
}