.highlight {
    color: $highlight;
}

.bottom-highlight {
    border-bottom: 2px solid $highlight;
}

a.is-black-link {
    color: $text;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-150 {
    margin-bottom: 150px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.p-t-35 {

    padding-top: 35px;
}
.p-l-100 {
    padding-left: 100px;
}
.m-t-100 {

    margin-top: 100px;
}

.is-aileron-bold {
    font-family: $family-primary;
}


.is-bold{
    font-weight: bold;
}

.is-text-color {
    color: $text;
}

.is-underline-hover:hover {
    text-decoration: underline !important;
}