.highlight {
    color: $highlight;
}

a.is-black-link {
    color: $text;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-150 {
    margin-bottom: 150px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.is-aileron-bold {
    font-family: $family-primary;
}


.is-bold{
    font-weight: bold;
}
