
    .nav {
        padding-bottom: 0;
        padding: 15px 5%;
    }

    .nav-links {
        //margin-left: 40px;
        color: #FC466B;
        font-size: 1rem;
    }

    .logo {
        float: left;
        height: 64px;
        width: 64px;
        display: block;
    }

    .nav-links:hover {
        color: #FC466B !important;
        text-decoration: underline !important;
    } 